---
const { props } = Astro;
---

<style>
  .sbs-container {
    display: flex;
    flex-direction: column;
    /* controlled gap */
  }
</style>

<div id={props.containerId} class="sbs-container">
  <slot />
</div>
