---
const {items}=Astro.props
---
<style>
</style>
<style is:global>
  .header-for-sidebar{
    width:300px;
    background-color: yellow;
  }
  .body-for-sidebar{
    display: flex;
  }
</style>

<div>
  SIDEBAR
</div>
