---
import { getCollection } from "astro:content";

const homepage = await getCollection('homepage') || [];
const pages = await getCollection('pages') || [];

const cleanedPages = [...homepage,...pages].map(page=>{
  if (page.collection==='homepage'){
return { url:'/',title: page.data.title||'Home'}
  }
  else{
    return {url:'/'+page.slug+'/',title:page.data.title}
  }
})
---
<style>
.top-nav-container{
  background-color: yellow;
  position: absolute;
  top:0;
  left:0;
  right: 0;
}
</style>

<header class="top-nav-container">
<nav>
  <!-- <h1>page</h1> -->
  {cleanedPages.map(page=>{
   return <a href={page.url}>{page.title || 'untitled'}</a>
  })}
</nav>
</header>