---
import TopbarNav from "./TopbarNav.astro";
import { settings } from "../../helpers/settingsHelper";
---

<style
  define:vars={{
    menuBackgroundColor: settings.menu.appearance.backgroundColor,
    menuHeight: settings.menu.appearance.topBarHeight,
  }}
>
  body {
    padding: 0;
  }
  header {
    position: sticky;
    left: 0;
    top: 0;
    height: var(--menuHeight);
    right: 0;
    background-color: var(--menuBackgroundColor);
    display: flex;
    flex-direction: row;
    align-items: center;

    z-index: 10;
  }
  main {
  }
</style>
<body>
  <header>
    <TopbarNav />
  </header>
  <main>
    <slot />
  </main>
</body>
