---
import TopbarNav from "./TopbarNav.astro";
import { settings } from "../../helpers/settingsHelper";
---

<style
  define:vars={{
    menuBackgroundColor: settings.menu.colors.backgroundColor,
    menuHeight: settings.menu.sizes.topBarHeight,
    blurStyle: settings.menu.appearance.blurBehind ? "blur(10px)" : "none",
  }}
>
  body {
    padding: 0;
  }
  header {
    position: fixed;
    left: 0;
    top: 0;
    min-height: var(--menuHeight);

    right: 0;
    background-color: var(--menuBackgroundColor);
    backdrop-filter: var(--blurStyle);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    z-index: 10;
  }
  main {
    padding-top: var(--menuHeight);
  }
</style>
<body>
  <header>
    <TopbarNav />
  </header>
  <div class="nav-spacer"></div>
  <main id="main-content">
    <slot />
  </main>
</body>
