---
import TopbarNav from "./TopbarNav.astro";
---

<style>
  body {
    padding: 0;
  }
  header {
    position: fixed;
    left: 0;
    top: 0;
    height: 45px;
    right: 0;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  main {
    padding-top: 45px;
  }
</style>
<body>
  <header>
    <TopbarNav />
  </header>
  <main>
    <slot />
  </main>
</body>
