---
const { props } = Astro;
import { settings } from "../../helpers/settingsHelper";
const tileSettings = settings.portfolioLayouts.coolTile;
---

<style
  define:vars={{
    tileWidth: tileSettings.targetWidth,
    tileGap: tileSettings.itemGap,
  }}
>
  .tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--tileWidth), 1fr));
    gap: var(--tileGap);
  }
</style>

<div id={props.containerId} class="tile-container" style={{ maxWidth: "100%" }}>
  <slot />
</div>
