---
const { props } = Astro;
import { settings } from "../../helpers/settingsHelper";
const tileSettings = settings.portfolioLayouts.coolTile;
---

<style
  define:vars={{
    minTileWidth: tileSettings.minTileWidth + "px",
    containerPadding: tileSettings.containerPadding,
    tileGap: tileSettings.itemGap,
  }}
>
  .tile-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--minTileWidth), 100%), 1fr)
    );
    gap: var(--tileGap);
    padding: var(--containerPadding);
  }
</style>

<div
  id={props.containerId}
  class="tile-container"
  style={{ maxWidth: tileSettings.containerWidth }}
>
  <slot />
</div>
