---
import Image from "astro/components/Image.astro";
import { getImage } from "astro:assets";
const { props } = Astro;
const { title, url, thumbnail, accent } = Astro.props;

const fancyImage = await getImage({ src: thumbnail, width: 1200 });
---

<style>
  .portfolio-tile {
    aspect-ratio: 3 / 2;
    position: relative;
    overflow: hidden;
  }

  .tile-hover-panel {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.642);
    padding: 0.5rem;
    display: flex;
    /* flex-direction: column; */
    transform: scale(0.9);
    transform-origin: 50% 120% 0;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .portfolio-tile:hover .tile-hover-panel,
  .portfolio-tile:focus-within .tile-hover-panel {
    transform: scale(1);
    opacity: 1;
  }

  .portfolio-tile:hover {
    /* transform: scale(1.05); */
  }
  .tile-hover-panel-title {
    color: white;
  }
</style>

<article class="portfolio-tile">
  <!-- {
    thumbnail ? (
      <Image widths={[500]} class={"tile-image"} src={thumbnail} alt="" />
    ) : (
      <div class="tile-image" style={{ backgroundColor: accent }} />
    )
  } -->
  <div class="tile-hover-panel">
    <a class="tile-hover-panel-title" href={url}>{title}</a>
  </div>
</article>

<!-- 
  watch this youtube video:
  https://www.youtube.com/watch?v=5DEq5cWNYt8
 -->
