---
const isDev = process.env.NODE_ENV === "development";
---

<style>
  .floating-edit {
    position: fixed;
    transform: translateX(50%) translateX(-20px) rotate(-90deg);
    top: 50%;
    right: 0;
  }
  .floating-edit a {
    padding: 0.5rem;
    background-color: lightpink;
    text-decoration: none;
  }
</style>
{
  isDev && (
    <div class="floating-edit">
      <a href="/keystatic"> Click here to enter the site editor</a>
    </div>
  )
}
