---
const isDev = process.env.NODE_ENV === "development";
const fullPath = Astro.url.pathname;
const isProject = fullPath.includes("/projects/");
const isHomepage = typeof Astro.params.slug === "undefined";
let editPath;
if (isHomepage) {
  editPath = "/keystatic/singleton/homepage";
} else {
  editPath =
    "/keystatic/collection/" +
    (isProject ? "projects" : "pages") +
    "/item/" +
    Astro.params.slug;
}
---

<style>
  .floating-edit {
    font-size: 0.75rem;
    position: relative;
    height: 0;
    top: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    z-index: 9999;
  }

  .floating-edit a {
    padding: 0.5em;
    background-color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: .5em;
  }
  .floating-edit a:hover {
    background-color: lightblue;
  }
</style>
{
  isDev && (
    <div class="floating-edit">
      <a href={editPath}> Edit this page</a>
    </div>
  )
}
