---
const isDev = process.env.NODE_ENV === "development";
const fullPath = Astro.url.pathname;
console.log(Astro.params.slug);
const isProject = fullPath.includes("/projects/");
console.log(isProject);
const editPath =
  "/keystatic/collection/" +
  (isProject ? "projects" : "pages") +
  "/item/" +
  Astro.params.slug;
---

<style>
  .floating-edit {
    position: fixed;
    transform: translateX(50%) translateX(-20px) rotate(-90deg);
    top: 50%;
    right: 0;
  }
  .floating-edit a {
    padding: 0.5rem;
    background-color: lightpink;
    text-decoration: none;
  }
</style>
{
  isDev && (
    <div class="floating-edit">
      <a href={editPath}> Edit this page</a>
    </div>
  )
}
