---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("homepage");
// console.log('homepage',posts);
const page = posts[0];
const { Content } = await page.render();
// console.log("hometitle:", page.data.title);
---

<Layout title={page.data.title || "Home"}>
  {!page.data.hideTitle && <h1>{page.data.title}</h1>}
  <Content />
</Layout>
