---
import SidebarNav from "./SidebarNav.astro";
---

<style>
  main {
    padding-top: 45px;
  }
  header {
    background-color: lightblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    z-index: 10;
  }

  @media screen and (min-width: 768px) {
    main {
      position: relative;
      left: 300px;
      width: calc(100% - 300px);
      padding-top: 0;
    }
    header {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 300px;
      height: 100%;
      display: flex;
      overflow-y: scroll;
    }
  }
</style>
<body>
  <header>
    <SidebarNav />
  </header>
  <main>
    <slot />
  </main>
</body>
