---
const { items } = Astro.props;
import settings from "../../helpers/settingsHelper";
const sidebarWidth = settings.sidebar.sidebarWidth;
console.log(items);
---

<style></style>
<style is:global define:vars={{ sidebarWidth: sidebarWidth }}>
  .header-for-sidebar {
    /* width:var(--sidebarWidth); */
    /* background-color: yellow; */
  }
  .body-for-sidebar {
    display: flex;
  }
</style>

<div>
</div>
