---
import SidebarNav from "./SidebarNav.astro";
---

<style>
  body {
    padding: 0;
  }
  header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main {
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
  }
</style>
<body>
  <header>
    <SidebarNav />
  </header>
  <main>
    <slot />
  </main>
</body>
