---
const { props } = Astro;
const imagePath = "../../assets/images" + props.image;
import Image from "astro/components/Image.astro";
import { getImage } from "astro:assets";
import { GetImageResult } from "astro";
console.log(props);
const images = import.meta.glob<{ default: ImageMetadata }>(
  "./../../assets/images/**/*.{jpeg,jpg,png,gif}"
);
console.log(images);
if (!images[imagePath])
  throw new Error(
    `"${props.image}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );

const imageSrc = images[imagePath]();
const fancyImage = await getImage({ src: images[imagePath](), width: 1200 });
console.log(fancyImage);
---

<style>
  .hero-section-wrapper {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  .hero-section-container {
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    padding: 2rem;
    background-size: 100% auto;
    background-attachment: fixed;
  }
  .hero-section-content-panel {
    background-color: white;
    position: relative;
    padding: 1rem;
    min-width: 200px;
  }
</style>
<div class="hero-section-wrapper">
  <div
    class="hero-section-container"
    style={{ backgroundImage: `url(${fancyImage.src})` }}
  >
    <div class="hero-section-content-panel">
      <slot />
    </div>
  </div>
</div>
