---
const { props } = Astro;
const imagePath = "../../assets/images" + props.image;
import Image from "astro/components/Image.astro";
import { getImage } from "astro:assets";

console.log(props);
const images = import.meta.glob<{ default: ImageMetadata }>(
  "./../../assets/images/**/*.{jpeg,jpg,png,gif}"
);
// console.log(images);
if (!images[imagePath])
  throw new Error(
    `"${props.image}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );

const fancyImage = await getImage({ src: images[imagePath](), width: 1200 });
// console.log(fancyImage);
const parallaxSelector = {
  backgroundAttachment: "scroll",
};
if (props.parallax) {
  parallaxSelector.backgroundAttachment = "fixed";
}
---

<style define:vars={{ heroWidth: props.width, heroHeight: props.height }}>
  .hero-section-wrapper {
    max-width: var(--heroWidth);
    height: var(--heroHeight);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  .hero-section-container {
    width: 100%;
    height: var(--heroHeight);
    position: relative;
    display: flex;
    padding: 2rem;
    background-size: cover;
    /* background-attachment: fixed; */
  }
  .hero-section-content-panel {
    background-color: white;
    position: relative;
    padding: 1rem;
    min-width: 200px;
  }
</style>
<div class="hero-section-wrapper">
  <div
    class="hero-section-container"
    style={{ backgroundImage: `url(${fancyImage.src})`, ...parallaxSelector }}
  >
    <div class="hero-section-content-panel">
      <slot />
    </div>
  </div>
</div>
