---
const { props } = Astro;
const { justifyContent, gap, alignItems, flexDirection } = props;
---

<style>
  .multicolumn_container {
    display: flex;
    flex-wrap: wrap;
  }
</style>
<div
  class:list={["multicolumn_container", props.customClass]}
  style={{
    justifyContent: justifyContent,
    gap: gap,
    alignItems: alignItems,
    flexDirection: flexDirection,
  }}
>
  <slot />
</div>
