---
const {props}=Astro;
const {justifyContent,gap}=props
---
<style>
.multicolumn_container{
  display: flex;
  flex-wrap: wrap;
}
</style>
<div class="multicolumn_container" style={{justifyContent:justifyContent,gap:gap}}>
  <slot />
</div>