---

---

<style>
  .simple-multicol {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    .simple-multicol {
      flex-wrap: nowrap;
    }
  }
</style>
<div class:list={["simple-multicol", Astro.props.customClass]}>
  <slot />
</div>
