---
import { getCollection } from 'astro:content';
const {props}=Astro;
console.log('props:',props)
const allProjects = await getCollection('projects');

let projectList:{
    id: "an-actual-design-project.mdoc";
    slug: "an-actual-design-project";
    body: string;
    collection: "projects";
    data: any;
}[]=[];
if (props.projectSource.discriminant==="selected"){
  projectList=props.projectSource.value.map((slug:string)=>{
    return allProjects.find((project)=>{
      return project.slug===slug
    })
  })
} else {
  //@ts-ignore;
  projectList=allProjects;
}
---

{projectList.map((item)=>{
  return <div>{item.slug}</div>
})}

</div>