---
import Image from "astro/components/Image.astro";
const {props}=Astro
const {title,url,thumbnail,accent}=Astro.props;

// console.log(props)
---
<style>
.card-item{
  padding:1rem;
}
  .card-image{
    width:100%;
    aspect-ratio: 3/2;
    object-fit: cover;

  }
</style>
<div class="card-item">
  <div class="card-image-container" >
{thumbnail ?<Image widths={[400]} class={"card-image"} src={thumbnail} alt=""/>:<div class="card-image" style={{backgroundColor:accent}}></div>}
  
  </div>
  <a href={url}> {title}</a>
 
  <slot />
</div>