---
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
const { slug } = Astro.params;
if (!slug) throw new Error("Slug not found");
const post = await getEntry("projects", slug);

if (!post) throw new Error("No post found for this slug");
const { Content } = await post.render();
// console.log(post);
// Generate static pages
export async function getStaticPaths() {
  const posts = await getCollection("projects");
  return posts
    .filter((post) => {
      const isUnpublished = post.data.publishStatus === "unpublished";
      return !isUnpublished;
    })
    .map((post) => ({ params: { slug: post.slug } }));
}
---

<Layout title={post.data.title}>
  {!post.data.hideTitle && <h1>{post.data.title}</h1>}
  <Content />
</Layout>
