---
import LayoutSwitcher from "../components/sitelayout/LayoutSwitcher.astro";
import FloatingEdit from "../components/sitelayout/FloatingEdit.astro";
import TypographyProvider from "../components/sitelayout/TypographyProvider.astro";
const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import { settings } from "../components/helpers/settingsHelper";


---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />

    <TypographyProvider />
    
    <style
      define:vars={{
        maxPageContentWidth: settings.pageArea.pageWidth,
        standardPadding: settings.pageArea.padding.horizontal,
        maxImageWidth: settings.pageArea.images.displayWidth,
      }}
      is:global
    >
      html {
        margin: auto;
        padding: 0;
        line-height: 1.25;
        font-size: 1.25rem;
      }

      img {
        height: auto;
        width: 100%;
      }

      * {
        padding: 0;
        margin: 0;

        box-sizing: border-box;
      }
      main {
        align-items: center;
        position: relative;
      }
      main > * {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 var(--standardPadding);
        max-width: var(--maxPageContentWidth);
        overflow-wrap: break-word;
      }
      .md-default-image {
        max-width: var(--maxImageWidth);
      }
    </style>
  </head>

  <LayoutSwitcher>
    <FloatingEdit />
    <slot />
  </LayoutSwitcher>

  <script>
    import AOS from "aos";
    import "aos/dist/aos.css"; // You can also use <link> for styles
    // ..

    document.addEventListener("astro:page-load", () => {
      document.querySelectorAll("main > *").forEach((item) => {
        item.setAttribute("data-aos", "fade-in");
        AOS.init({ offset: 0, delay: 50 });
      });
    });

    AOS.init();
  </script>
</html>
